body {
    background: blue;
}

#target {
    height: 85vh;
    background: green;
}

* {
    margin: 0;
    padding: 0;
}
#to-drag {
    position: absolute;
    top: 30px;
    left: 268px;
    height: 100px;
    width: 100px;
    background: yellow;
}

.menu {
    background: cadetblue;
    height: 30px;
}

.bottom {
    background-color: grey;
    max-height: 15vh;
    min-height: 15vh;
}

textarea {
    resize: none;
}